<!DOCTYPE html>
<!-- View the file communique.txt -->
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href = "static/1.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>AQI calculator Universal</title>
    </head>
    <body>
        <h1>AQI calculator Universal</h1>
        <form action="/" method="post">
            <label for="Countries">Country: </label>
            <select name="country" id="countries">
                <option value="GBR">European Union</option>
                <option value="IND">India</option>
            </select><br>
            <label for="pollutants">Pollutant: </label>
            <select name="pollutants" id="pollutants">
                <option value="pm2">PM₂.₅</option>
                <option value="pm10">PM₁₀</option>
                <option value="co">CO</option>
                <option value="no2">NO₂</option>
                <option value="o3">O₃</option>
                <option value="so2">SO₂</option>
            </select><br>
            <label for="value">Concentration: </label>
            <input type="text" id="value" name="value" style="width: 50px">
            <select name="unit" id="unit">
                <option value="ug">µg/m3</option>
                <option value="ppm">ppm</option>
                <option value="ppb">ppb</option>
            </select>
            <input type="submit">
        </form>
        {% if s %}
            {{ s }}
            <!--AQI: {{ s[0] }}-->
            <!--AQI Category: <p>{{ s[1] }}</p>-->
        {% endif %}
    </body>
</html>
