<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="../static/1.css" rel="stylesheet">
        <title>AQI calculator Universal</title>
    </head>
    <body>
        <h1>AQI calculator Universal</h1>
        <form action="/" method="post">
            <div class="flex">
            <div class="iform">
                {% if message %}
                    <div><b>{{ message }}</b></div>
                {% endif %}
                <div class="input">
                PM₂.₅ <input type="text" id="valuePM2.5" name="valuePM2.5" style="width: 50px; margin-left:10px">
                <select id="unitPM2.5" name="unitPM2.5">
                    <option value="ug">µg/m³</option>
                </select><p></p>
                </div>
                <div class="input">
                PM₁₀ <input type="text" id="valuePM10" name="valuePM10" style="width: 50px; margin-left:15px">
                <select id="unitPM10" name="unitPM10">
                    <option value="ug">µg/m³</option>
                </select><p></p>
                </div>
                <div class="input">
                CO <input type="text" id="valueCO" name="valueCO" style="width: 50px; margin-left:28px">
                <select id="unitCO" name="unitCO">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p>
                </div>
                <div class="input">
                NO₂ <input type="text" id="valueNO2" name="valueNO2" style="width: 50px; margin-left:20px">
                <select id="unitNO2" name="unitNO2">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p>
                </div>
                <div class="input">
                O₃ <input type="text" id="valueO3" name="valueO3" style="width: 50px; margin-left:32px">
                <select id="unitO3" name="unitO3">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p>
                </div>
                <div class="input">
                SO₂ <input type="text" id="valueSO2" name="valueSO2" style="width: 50px; margin-left:23px">
                <select id="unitSO2" name="unitSO2">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p>
                </div>
                <div class="input">
                System
                <select name="country" id="countries">
                    <option value="EUR">European Air Quality Index</option>
                    <option value="IND">Indian National Air Quality Index</option>
                </select><p></p>
                </div>
                <input type="submit"><p></p>
            </div>
            <div class="output">
                {% if s %}
                    Your AQI score is: <p style="background-color: #58FF09; width: 140px; text-align: center; margin-left: auto; position: absolute; right: 15px;">{{ s }}</p>
                {% endif %}
            </div>
            </div>
        </form>
    </body>
</html>
