<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link href="../static/1.css" rel="stylesheet">
        <script type="text/javascript" src="../static/noexpaqi.js"></script>
        <title>AQI calculator Universal</title>
    </head>
    <body>
        <script>
            document.addEventListener('DOMContentLoaded',() => {
                document.querySelectorAll('.output').forEach(result => {
                    result.style.width = parseInt(window.innerWidth - 290);
                });
                document.querySelector('#type').onchange = () => {
                    if (document.querySelector('#type').value === 'Comp'){
                        document.querySelector('#system').innerHTML = '<option value="EvN">EAQI vs NAQI</option><option value="EvM">EAQI vs MMAQI</option><option value="MvN">MMAQI vs NAQI</option><option value="EvMvN">EAQI vs MMAQI vs NAQI</option>';
                        document.querySelector('#co').style.display = 'block';
                        document.querySelectorAll('.output').forEach(result => {
                            result.style.display = 'none';
                            result.innerHTML = ''
                        });
                        document.querySelector('#result1').style.display = 'block';
                    } else {
                        document.querySelector('#system').innerHTML = '<option value="EAQI">EAQI</option><option value="NAQI">NAQI</option><option value="MMAQI">MMAQI</option>';
                        document.querySelector('#co').style.display = 'none';
                        document.querySelector('#valueCO').value='';
                        document.querySelectorAll('.output').forEach(result => {
                            result.style.display = 'block';
                            result.innerHTML = ''
                        });
                    }
                };
                document.querySelector('#input').addEventListener('reset',() => {
                   document.querySelectorAll('.output').forEach(result => {
                       result.innerHTML = '';
                   });
                   document.querySelector('#type').value="comp";
                   document.querySelector('#system').innerHTML = '<option value="EvN">EAQI vs NAQI</option><option value="EvM">EAQI vs MMAQI</option><option value="MvN">MMAQI vs NAQI</option><option value="EvMvN">EAQI vs MMAQI vs NAQI</option>';
                   document.querySelector('#co').style.display = 'block';
                   document.getElementById('message').children[0].innerHTML = '';
                });
                document.querySelector('#system').onchange = () => {
                    document.querySelectorAll('.output').forEach(result => {
                            result.innerHTML = ''
                        });
                    if (document.querySelector('#type').value === "SI" && document.querySelector('#system').value === "EAQI") {
                        document.querySelector('#co').style.display = 'none';
                        ddocument.querySelector('#valueCO').value='';
                    } else {
                        document.querySelector('#co').style.display = 'block';
                    }
                };
                document.querySelector('#submit').onclick = () => {
                    let d = {
                        'pm2': convert('pm2',parseInt(document.querySelector('#valuePM2').value),document.querySelector('#unitPM2').value),
                        'pm10':convert('pm10',parseInt(document.querySelector('#valuePM10').value),document.querySelector('#unitPM10').value),
                        'no2':convert('no2',parseInt(document.querySelector('#valueNO2').value),document.querySelector('#unitNO2').value),
                        'so2':convert('so2',parseInt(document.querySelector('#valueSO2').value),document.querySelector('#unitSO2').value),
                        'o3':convert('o3',parseInt(document.querySelector('#valueO3').value),document.querySelector('#unitO3').value),
                        'co':convert('co',parseInt(document.querySelector('#valueCO').value),document.querySelector('#unitCO').value)
                    };
                    for (const key in d){
                        if (isNaN(d[key])) {
                            delete d[key];
                        }
                    }
                    if (Object.keys(d).length !== 0){
                        var a = new dict(Object.keys(d),Object.values(d));
                        type = document.querySelector('#type').value;
                        system = document.querySelector('#system').value;
                        document.querySelector('#input').reset();
                        if (type === "Comp"){
                            if ((a.keys.length === 1) && (a.keys[0] === 'co')){
                                document.getElementById('message').children[0].innerHTML = 'Atleast 1 field other than CO required';
                            } else {
                                document.getElementById('message').children[0].innerHTML = '';
                                if (system === "EvN"){
                                    A = new Eaqi(a);A.setres();
                                    O = new Naqi(a);O.setres();
                                    idx = A.idx;
                                    res = O.res;
                                    if (res > 500){
                                        max = res;
                                    } else {
                                        max = 500;
                                    }
                                    b = compare([idx,6],[res,max]);
                                    if (b >= 0){
                                        document.querySelector('#result1').innerHTML = `NAQI is ${b}% less than EAQI`;
                                    } else {
                                        document.querySelector('#result1').innerHTML = `NAQI is ${b}% greater than EAQI`;
                                    }
                                } else if (system === 'EvM') {
                                    A = new Eaqi(a);A.setres();
                                    O = new Mmaqi(a);O.setres();
                                    idx = A.idx;
                                    res = O.res;
                                    if (res > 500){
                                        max = res;
                                    } else {
                                        max = 500;
                                    }
                                    b = compare([idx,6],[res,max]);
                                    if (b >= 0){
                                        document.querySelector('#result1').innerHTML = `MMAQI is ${b}% less than EAQI`;
                                    } else {
                                        document.querySelector('#result1').innerHTML = `MMAQI is ${b}% greater than EAQI`;
                                    }
                                } else if (system === 'MvN') {
                                    A = new Naqi(a);A.setres();
                                    O = new Mmaqi(a);O.setres();
                                    resn = A.res;
                                    resm = O.res;
                                    if (resn > 500){
                                        maxn = resn;
                                    } else {
                                        maxn = 500;
                                    }
                                    if (resm > 500){
                                        maxm = resm;
                                    } else {
                                        maxm = 500;
                                    }
                                    b = compare([resm, maxm],[resn,maxn]);
                                    if (b >= 0){
                                        document.querySelector('#result1').innerHTML = `NAQI is ${b}% less than MMAQI`;
                                    } else {
                                        document.querySelector('#result1').innerHTML = `NAQI is ${b}% greater than MMAQI`;
                                    }
                                } else {
                                    A = new Naqi(a);A.setres();
                                    O = new Mmaqi(a);O.setres();
                                    E = new Eaqi(a);E.setres();
                                    idx = E.idx;
                                    resn = A.res;
                                    resm = O.res;
                                    if (resn > 500){
                                        maxn = resn;
                                    } else {
                                        maxn = 500;
                                    }
                                    if (resm > 500){
                                        maxm = resm;
                                    } else {
                                        maxm = 500;
                                    }
                                    b = compare([idx,6],[resm,maxm]);
                                    if (b >= 0){
                                        s1 = `MMAQI is ${b}% less than EAQI`;
                                    } else {
                                        s1 = `MMAQI is ${b}% greater than EAQI`;
                                    }
                                    c = compare([idx,6],[resn,maxn]);
                                    if (c >= 0){
                                        s2 = `NAQI is ${c}% less than EAQI`;
                                    } else {
                                        s2 = `NAQI is ${c}% greater than EAQI`;
                                    }
                                    d = compare([resm, maxm],[resn,maxn]);
                                    if (d >= 0){
                                        s3 = `NAQI is ${d}% less than MMAQI`;
                                    } else {
                                        s3 = `NAQI is ${d}% greater than MMAQI`;
                                    }
                                    console.log(`${s1}<br>${s2}<br>${s3}`);
                                    document.querySelector('#result1').innerHTML = `${s1}<br>${s2}<br>${s3}`;
                                }
                            }
                        } else {
                            document.getElementById('message').children[0].innerHTML = '';
                            if (system === 'EAQI'){
                                A = new Eaqi(a);
                                A.setres();A.setdes();A.setcol();
                                document.querySelectorAll('.output').forEach(result => {
                                    result.style.backgroundColor = A.col
                                    if (A.col === '#000000'){
                                        result.style.color = '#ffffff';
                                    } else {
                                        result.style.color = '#000000';
                                    }
                                });
                                document.querySelector('#result1').innerHTML = A.res;
                                document.querySelector('#result2').innerHTML = A.des.replace(/\n/g,'<br>' )
                            } else if (system === 'NAQI'){
                                A = new Naqi(a);
                                A.setres();A.setdes();A.setcol();
                                document.querySelectorAll('.output').forEach(result => {
                                    result.style.backgroundColor = A.col
                                    if (A.col === '#000000'){
                                        result.style.color = '#ffffff';
                                    } else {
                                        result.style.color = '#000000';
                                    }
                                });
                                document.querySelector('#result1').innerHTML = A.res;
                                document.querySelector('#result2').innerHTML = A.des.replace(/\n/g,'<br>' )
                            } else {
                                A = new Mmaqi(a);
                                A.setres();A.setdes();A.setcol();
                                document.querySelectorAll('.output').forEach(result => {
                                    result.style.backgroundColor = A.col
                                    if (A.col === '#000000'){
                                        result.style.color = '#ffffff';
                                    } else {
                                        result.style.color = '#000000';
                                    }
                                });
                                document.querySelector('#result1').innerHTML = A.res;
                                document.querySelector('#result2').innerHTML = A.des.replace(/\n/g,'<br>' )
                            }
                        }
                    }
                };
            });
            function isFloat(evt) {

                var charCode = (event.which) ? event.which : event.keyCode;
                if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                else {
                    //if dot sign entered more than once then don't allow to enter dot sign again. 46 is the code for dot sign
                    var parts = evt.srcElement.value.split('.');
                    if (parts.length > 1 && charCode == 46)
                      {
                        return false;
                      }


                    return true;

            }
            }

        </script>
        <h1>AQI calculator Universal</h1>
        <form action="/" method="post" id="input">
            <div class="flex">
            <div class="form-group">
                    <div id='message'><b></b></div>
                <select name="type" id="type" style="width:230px" class="form-control">
                    <option value="Comp" selected>Comparision</option>
                    <option value="SI">Single Index</option>
                </select><p></p><br>
                <select name="system" id="system" style="width:230px" class="form-control">
                    <option value="EvN" selected>EAQI vs NAQI</option>
                    <option value="EvM">EAQI vs Mmaqi</option>
                    <option value="MvN">Mmaqi vs NAQI</option>
                    <option value="EvMvN">EAQI vs MMAQI vs NAQI</option>
                </select><p></p><br>
                <div>
                PM₂.₅ <input type="text" id="valuePM2" name="valuePM2" style="width: 100px; margin-left:10px" onkeypress="return isFloat(event)" class="input1" />
                <select id="unitPM2" name="unitPM2" class="input1">
                    <option value="ug">µg/m³</option>
                </select><p></p><br>
                </div>
                <div>
                PM₁₀ <input type="text" id="valuePM10" name="valuePM10" style="width: 100px; margin-left:15px" onkeypress="return isFloat(event)" class="input1"  />
                <select id="unitPM10" name="unitPM10" class="input1">
                    <option value="ug">µg/m³</option>
                </select><p></p><br>
                </div>
                <div>
                NO₂ <input type="text" id="valueNO2" name="valueNO2" style="width: 100px; margin-left:20px" onkeypress="return isFloat(event)" class="input1"  />
                <select id="unitNO2" name="unitNO2" class="input1">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p><br>
                </div>
                <div>
                O₃ <input type="text" id="valueO3" name="valueO3" style="width: 100px; margin-left:32px" onkeypress="return isFloat(event)" class="input1"  />
                <select id="unitO3" name="unitO3" class="input1">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p><br>
                </div>
                <div>
                SO₂ <input type="text" id="valueSO2" name="valueSO2" style="width: 100px; margin-left:23px" onkeypress="return isFloat(event)" class="input1"  />
                <select id="unitSO2" name="unitSO2" class="input1">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p><br>
                </div>
                <div id="co">
                CO <input type="text" id="valueCO" name="valueCO" style="width: 100px; margin-left:28px" onkeypress="return isFloat(event)" class="input1"  />
                <select id="unitCO" name="unitCO" class="input1">
                    <option value="ug">µg/m³</option>
                    <option value="ppm">ppm</option>
                    <option value="ppb">ppb</option>
                </select><p></p><br>
                </div>
            </div>
            <div>
                <div id="result1" class="output" ></div>
                <div id="result2" class="output" style="display:none"></div>
            </div>
            </div>
            <input id="submit" type="button" class="btn btn-primary" value="Submit" style="float:right; margin-right:15px;width:100px">
            <input id="clear" type="reset" class="btn btn-secondary" value="Clear" style="float:right; margin-right:15px;width:100px"><p></p>
        </form>